.container-fluid {
    max-height: 80vh;
    max-width: 95%;
    border: transparent;
    position: relative;
    text-align: center;
    color: white;
}

img { 
    border: transparent;
    border-radius: 10px;
    background-color: black;
    filter: brightness(60%);
    // opacity: 0.9;
    
}

button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 
   
   #details {
    margin-top: 100%;
    padding-bottom: 25%;
   } 