<ion-content [fullscreen]="true">

  <div class="container mx-auto mt-5" style="height: 80vh;">
    <div class="title">Registration</div>
    <div class="content">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input 
            type="text" 
            id="fullname"
            formControlName="name"
            placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input 
            type="email"
            id="email"
            formControlName="email"
            placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Employee number</span>
            <input 
            type="text"
            id="emp_id" 
            formControlName="emp_id"
            placeholder="Enter your employee id" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input 
            type="password"
            id="password" 
            formControlName="password"
            placeholder="Enter your password" required>
          </div>

          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input 
            type="password"
            id="confirm_password" 
            formControlName="confirm_password"
            placeholder="Enter your password" required>
            <span class="details" *ngIf="!fieldsWithData()">{{message}}</span>
            <span class="details" *ngIf="!passwordMatch()" >{{passwordMessage}}</span>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register" [disabled]="!fieldsWithData()">
          <input type="reset" value="Reset Form">
        </div>
      </form> 
    </div>
    <br>
    <span class="details">Already Registered? Click <a routerLink='/login'><span class="details">here</span></a> to log in</span>
  </div>
  <br><br><br><br><br><br>
</ion-content>