<div #section class="container-fluid row d-flex justify-content-evenly mt-sm-3" id="details">

  <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/manage-illustration.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Manage Check-in times</h5>
      <p class="card-text">Keep track of the time employees or learners check-in to work or class.</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/check-in-illustration.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Check-in quickly</h5>
      <p class="card-text">No more punching cards to check-in, just fill in your details and you're in!</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/secure-login-illustration.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Authenticate users</h5>
      <p class="card-text">Authenticate users with the built-in features that show the history of each user.</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>

</div>