// ion-grid {
//     --ion-grid-column-padding: 10px;
//     border-collapse: collapse;
//     // border-style: hidden;
    
//     ion-row:first-child {
//       background-color:  #676767;
//     //   size: 100px;
//       font-weight: bold;
//     }
 
    
//     ion-row:last-child {
//       border-bottom: 1px solid rgb(7, 7, 7);
//     }
//      .col-2{
//     border: 1px solid black;
//     // border-bottom: 0;
//     // border-right: 0;
//     // color: white;
//   }
//   .col-3{
//     border: 1px solid black;
//     // border-bottom: 0;
//     // border-right: 0;
//     // color: white;
//   }
//   }

.headings {
  font-weight: 600;
}

.date{
  font-weight: 500;
  font-size: large;
}