<ion-header>
  <app-nav></app-nav>
</ion-header>
<br>

<div class="container-fluid my-">
  <!-- <ion-item *ngFor=" name ionList; let i = index"> -->
  <h2>Welcome, {{name | titlecase}}</h2>

  <br>
  <button class="btn btn-outline-secondary ms-5" (click)="goBack()"> Back</button>
  <div class="card-body p-lg-5">
  <div class="takeTemp">
    <form [formGroup]="signInWithTempForm" (ngSubmit)="sendForm()">
      <div class="form-floating mb-3">
        <input
          id="temprature"
          type="number"
          placeholder="Enter temperature"
          formControlName="temperature"
          min="30"
          max="40"
          required
          class="form-control"/>
          <label for="floatingInput">Temperature</label>
      </div>
      <div class="form-floating mb-3">
        <ion-item>
          <ion-label >Do you have Covid Symptoms?- If Yes, please see Covid Compliance Officer immediately</ion-label>
          <ion-select multiple="false"  formControlName="haveCovid" required>  
          <ion-select-option value="yes">Yes</ion-select-option>
          <ion-select-option value="no">No</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <br>
      <div class="form-floating mb-3">
        <p class="date">Today's date: {{newDate | date :  "dd.MM.y HH:mm" }}</p>
    </div>
    <br>
    <div class="form-floating mb-3">
    <button
        class="btn btn-outline-success"
        id="registerTemp"
        type="submit"
        name="registerTemp"
        [disabled]="buttonNotWork"
        >Clock in
      </button>
    </div>  
    </form>
  </div>
</div>

    <ion-grid class="ion-margin">
      <ion-row class="d-flex text-center headings">
       <div class = "col-3">Have Covid Symptoms?</div>
        <div class = "col-3">Temperature</div>
        <div class = "col-3">Timestamp</div>
        <div class = "col-3">Location</div>
      </ion-row>
      
          <ion-list>
            <ion-item class= "d-flex text-center col-sm-12" *ngFor="let attendance of attendResponse;">
              <ion-label class = "col-3"><p *ngIf="attendance.have_covid; else doThis">Yes</p></ion-label>
              <ng-template #doThis><p>No</p></ng-template>
              <ion-label class = "col-3">{{ attendance.temp }}</ion-label>
              <ion-label class = "col-3 ms-5">{{ attendance.created_at| date :  "dd-MMM-y HH:mm"}}</ion-label>
              <ion-label class = "col-3">{{myLocation }}</ion-label>
            </ion-item>
          </ion-list>
    </ion-grid>
</div>