<div class="container mx-auto mt-5" style="height: 68vh;">
  <div class="title">Log In</div>
  <div class="content">
    <form [formGroup]="myNewForm">
      <div class="form-floating mb-3">
        <ion-item>
          <ion-label>User Type</ion-label>
          <ion-select multiple="false" formControlName="userType">
          <ion-select-option value="admin">Admin</ion-select-option>
          <ion-select-option value="employee">Employee</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </form>
    <form [formGroup]="myForm" (ngSubmit)="empAdminEvaluation()" ngNativeValidate>
      <div class="user-details">
        <div class="input-box">
          <span class="details">Email</span>
          <input 
          type="email"
          id="email"
          formControlName="email"
          placeholder="Enter your email" required>
        </div>
        <div class="input-box">
          <span class="details">Password</span>
          <input 
          type="password"
          id="password" 
          formControlName="password"
          placeholder="Enter your password" required>
        </div>
        <span class="details" *ngIf="!fieldsWithData()">{{message}}</span>
        
      </div>
      <div class="button">
        <input type="submit" value="Sign In" *ngIf="isWorkingAdmin()" [disabled]="!fieldsWithData()" >
        <input type="submit" value="Sign In" *ngIf="isWorkingEmp()" [disabled]="!fieldsWithData()" >
        <input type="reset" value="Reset Form">
      </div>
    </form> 
  </div>
  <br><br><br>
  <span class="details">Not Registered? Click <a routerLink='/register'><span class="details">here</span></a> to register</span>
</div>

<br><br><br>